﻿

  .wumLogo {
	height: 32px;
	width: auto;
	margin: 3px !important;
}   
#container-testtpapi---app--appShell-header-icon {
  max-height: 43px;
  max-width: 420px;
}

#container-testtpapi---app--appShell-brand{
    background-color: #B62034;
  
}
.sapMPageHeader::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    border-top: 0.25rem solid #ffffff;
    z-index: 7;
}
#__container2.sapMHdrCntrItemCntr.sapMHrdrCntrInner::after{
  height:0px;
  width:0px;
} 
#__container1.sapMHdrCntrItemCntr.sapMHrdrCntrInner::after{
  height:0px;
  width:0px;
} 


/******************* FILE /UI5/sap/ui/core/themes/base/library.less (Version 1.34.9) *******************/

/* START "shared.less" */
/* Shared CSS for 'base' theme */
.sapUiBody {
    background-color: #f2f2f2;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* to prevent touch highlight on the entire body */
    }
    .sapUiArea {
    background-color: #f2f2f2;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    }
    /*
    * used for static (Core) and hidden (HTML) area
    * (TODO: think about renaming static area also to hidden since static is not
    * required for newer browsers anymore => position: static)
    */
    .sapUiHidden {
    position: absolute;
    visibility: hidden;
    left: -10000px;
    top: -10000px;
    background-color: #f2f2f2;
    /* repeat the body style in case the application adapts it */
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    }
    .sapUiForcedHidden,
    .sapUiForcedHidden * {
    visibility: hidden !important;
    }
    .sapUiCorePlaintext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
    }
    .sapUiCoreDefaultFont {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    }
    .sapUiCoreDefaultCursor {
    cursor: default;
    }
    .sapUiBLy {
    background-color: #CCCCCC;
    opacity: 0.6;
    filter: alpha(opacity=60);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    outline: 0 none;
    }
    .sapUiBLyBack {
    /* to prevent HTML page from scrolling if blocked */
    overflow: hidden;
    }
    .sapUiPopupShield {
    position: absolute;
    }
    [data-sap-ui-type] {
    visibility: hidden;
    }
    /* CSS for windows 8 combi devices */
    .sapUiBody {
    /* disable pinch zooming */
    content-zooming: none;
    -ms-content-zooming: none;
    }
    @media (max-width: 599px) {
    .sapUiHideOnPhone {
      display: none !important;
    }
    .sapUiVisibleOnlyOnTablet {
      display: none !important;
    }
    .sapUiVisibleOnlyOnDesktop {
      display: none !important;
    }
    }
    @media (min-width: 600px) and (max-width: 1023px) {
    .sapUiHideOnTablet {
      display: none !important;
    }
    .sapUiVisibleOnlyOnDesktop {
      display: none !important;
    }
    .sapUiVisibleOnlyOnPhone {
      display: none !important;
    }
    }
    @media (min-width: 1024px) {
    .sapUiHideOnDesktop {
      display: none !important;
    }
    .sapUiVisibleOnlyOnTablet {
      display: none !important;
    }
    .sapUiVisibleOnlyOnPhone {
      display: none !important;
    }
    }
    .sapUiOverlay {
    background-color: rgba(242, 242, 242, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    }

/* Calculate the Background Variants */
/* no transparency in IE9 filter string */
/* Themeable Backgrounds */
/********************************************************************************************************************************/
/* Reset BackgroundColor, -Images to ensure proper display in ThemeDesigner (loads original and modified theme in the same page)*/
.sapMGlobalBackgroundColor,
.sapUiGlobalBackgroundColor,
html[data-sap-ui-browser="ie9"] .sapMGlobalBackgroundColor,
html[data-sap-ui-browser="ie9"] .sapUiGlobalBackgroundColor,
.sapMGlobalBackgroundColorStrong,
html[data-sap-ui-browser="ie9"] .sapMGlobalBackgroundColorStrong,
.sapUiStrongBackgroundColor,
html[data-sap-ui-browser="ie9"] .sapUiStrongBackgroundColor,
.sapMShellGlobalOuterBackground,
html[data-sap-ui-browser="ie9"] .sapMShellGlobalOuterBackground,
.sapMShellGlobalInnerBackground,
html[data-sap-ui-browser="ie9"] .sapMShellGlobalInnerBackground,
.sapUiBodyBackground,
.sapUiBody,
html[data-sap-ui-browser="ie9"] .sapUiBodyBackground,
html[data-sap-ui-browser="ie9"] .sapUiBodyBackgroundIE9Layer1,
html[data-sap-ui-browser="ie9"] {
background-color: transparent;
background-image: none;
filter: none;
}


    /********************************************************************************************************************************/
.sapUiGlobalBackgroundColor,
.sapMGlobalBackgroundColor {
/*Only legacy support: Use sapUiGlobalBackgroundColor instead*/
background-color: #f2f2f2;
background-color: #f5f5f5;
background-image: none;
}
html[data-sap-ui-browser="ie9"] .sapUiGlobalBackgroundColor,
html[data-sap-ui-browser="ie9"] .sapMGlobalBackgroundColor {
/*Only legacy support: Use sapUiGlobalBackgroundColor instead*/
filter: none;
}
.sapUiStrongBackgroundTextColor {
color: #333333;
}
.sapMShellGlobalOuterBackground {
background-color: #f2f2f2;
background-color: #f5f5f5;
background-image: none;
}
html[data-sap-ui-browser="ie9"] .sapMShellGlobalOuterBackground {
filter: none;
}
/* no standard background for nested elements */
.sapUiGlobalBackgroundColor .sapUiGlobalBackgroundColor:not(.sapUiGlobalBackgroundColorForce),
.sapMGlobalBackgroundColor .sapUiGlobalBackgroundColor:not(.sapUiGlobalBackgroundColorForce),
.sapUiGlobalBackgroundColor .sapMGlobalBackgroundColor,
.sapMGlobalBackgroundColor .sapMGlobalBackgroundColor {
/*Only legacy support: Use sapUiGlobalBackgroundColor instead*/
background-color: transparent;
background-image: none;
}
html[data-sap-ui-browser="ie9"] .sapUiGlobalBackgroundColor .sapUiGlobalBackgroundColor:not(.sapUiGlobalBackgroundColorForce),
html[data-sap-ui-browser="ie9"] .sapMGlobalBackgroundColor .sapUiGlobalBackgroundColor:not(.sapUiGlobalBackgroundColorForce),
html[data-sap-ui-browser="ie9"] .sapUiGlobalBackgroundColor .sapMGlobalBackgroundColor,
html[data-sap-ui-browser="ie9"] .sapMGlobalBackgroundColor .sapMGlobalBackgroundColor {
/*Only legacy support: Use sapUiGlobalBackgroundColor instead*/
filter: none;
}
.sapMGlobalBackgroundImage,
.sapUiGlobalBackgroundImage {
display: block;
position: absolute;
box-sizing: border-box;
left: 0;
top: 0;
bottom: 0;
right: 0;
opacity: 1;
background-image: none;
background-repeat: repeat;
background-position: left top;
background-size: auto;
}
.sapMGlobalBackgroundImageOnlyIfDefault,
.sapUiGlobalBackgroundImageOnlyIfDefault {
display: block;
position: absolute;
box-sizing: border-box;
left: 0;
top: 0;
bottom: 0;
right: 0;
/* default background image: display it normally */
background-image: none;
opacity: 1;
background-repeat: repeat;
background-position: left top;
background-size: auto;
}
/* hide this background image if a background is configured somewhere above */
.sapUiGlobalBackgroundColor * > .sapMGlobalBackgroundImage,
.sapMGlobalBackgroundColor * > .sapMGlobalBackgroundImage,
.sapMGlobalBackgroundColor * > .sapUiGlobalBackgroundImage,
.sapUiGlobalBackgroundColor * > .sapUiGlobalBackgroundImage {
display: none;
}
/* Ensure that background image is shown again when forced to do so (overrides previous declaration) */
.sapUiGlobalBackgroundImage.sapUiGlobalBackgroundImageForce {
display: block;
}
.sapMGlobalLogoImage {
background-image: none;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
/* BODY Background Styling */
.sapUiBodyBackground,
.sapUiBody {
background-color: #f5f5f5;
background-image: none;
background-repeat: repeat;
background-position: left top;
background-size: auto;
}
.sapUiBody {
background-attachment: fixed;
}
html[data-sap-ui-browser="ie9"] .sapUiBodyBackground {
background-color: #f5f5f5;
background-image: none;
filter: none;
}
html[data-sap-ui-browser="ie9"] {
background-color: #f5f5f5;
background-image: none;
filter: none;
margin: 0;
padding: 0;
}
html[data-sap-ui-browser="ie9"] .sapUiBody:before {
content: " ";
z-index: -999;
display: block;
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
/* default background image: display it normally */
background-image: none;
background-repeat: repeat;
background-position: left top;
background-size: auto;
opacity: 1;
}